<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Home Page</h1>
  <ul>
    <li><a href="/upload">Upload an Image</a></li>
    <li><a href="/list">List and download Images</a></li>
  </ul>
</body>
</html>